# ---------------------------
# Node
# ---------------------------
node_modules/
npm-debug.log
yarn-error.log

# ---------------------------
# Environments
# ---------------------------
.env
.env.local
.env.production
.env.development

# ---------------------------
# Backend
# ---------------------------
dist/
build/

# ---------------------------
# Vite (cliente)
# ---------------------------
summary-client/node_modules/
summary-client/dist/
summary-client/.vite/

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# Editor
# ---------------------------
.vscode/
.idea/

# ---------------------------
# OS
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Git internal (IMPORTANT)
# ---------------------------
.git/
